@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 768px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.load-spinner {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #9356DC;
  z-index: 5;
  animation: fadeOut 3s forwards;
}

.loader {
  display: inline-block;
  position: relative;
  background-color: #9356DC;
  background-image: linear-gradient(45deg, #9356DC, #FF79DA);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: zeroRotation 1.5s ease infinite alternate-reverse;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 356px;
}

.load-icon {
  z-index: 99;
  color: #fff;
}

@keyframes zeroRotation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(0) rotate(500deg);
  }
}
@keyframes fadeOut {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.btn {
  cursor: pointer;
  padding: 15px 30px;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  min-width: 200px;
  background: #FF79DA;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 85%);
  box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.21);
}
.btn:hover {
  background: #FF79DA;
  background: linear-gradient(180deg, rgba(255, 121, 218, 0.9) 0%, rgba(147, 86, 220, 0.9) 85%);
  box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.heart-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart-container .heart1:hover {
  color: #FF79DA;
}
.heart-container .heart2 {
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.heart-container .heart2:hover {
  opacity: 1;
  color: #FF79DA;
  cursor: pointer;
}

.restaurants-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
  transition: transform 0.2s;
  box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.21);
}
.restaurants-card:hover {
  transform: scale(1.1);
}
.restaurants-card-nouveau::after {
  position: absolute;
  content: "Nouveau";
  background-color: #99E2D0;
  color: #4B7857;
  padding: 8px 20px;
  border-radius: 3px;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.restaurants-card__img {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.restaurants-card__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}
.restaurants-card__info .heart1, .restaurants-card__info .heart2 {
  font-size: 22px;
}
.restaurants-card__description {
  display: flex;
  flex-direction: column;
}
.restaurants-card__description__genre {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
}
.restaurants-card__description__name {
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  .restaurant-card-block {
    width: 48%;
    margin-bottom: 25px;
  }

  .restaurants-card {
    height: 100%;
  }
}
@media only screen and (min-width: 1025px) {
  .restaurant-card-block {
    width: 23%;
  }

  .restaurants-card {
    height: 100%;
  }
}
.restaurant-menu-card {
  opacity: 0;
  overflow: hidden;
  background-color: #fff;
  height: 70px;
  margin-bottom: 12px;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.21);
}
.restaurant-menu-card:active .restaurant-menu-card__check, .restaurant-menu-card:hover .restaurant-menu-card__check {
  width: 60px;
  transform: translateX(0);
}
.restaurant-menu-card:active .restaurant-menu-card__check__icon, .restaurant-menu-card:hover .restaurant-menu-card__check__icon {
  transform: rotate(1turn);
  opacity: 1;
  transition: all 400ms 100ms ease-in;
}
.restaurant-menu-card__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1;
  overflow: hidden;
}
.restaurant-menu-card__description {
  padding: 10px;
  overflow: hidden;
}
.restaurant-menu-card__description__title {
  font-size: 14px;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.restaurant-menu-card__description__details {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.restaurant-menu-card__description__price {
  font-size: 12px;
  font-weight: 500;
  padding: 10px;
}
.restaurant-menu-card__check {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  width: 0;
  transition: all 400ms 100ms ease-in-out;
}
.restaurant-menu-card__check__icon {
  color: #fff;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
  }
}
.animation-delay-1 {
  animation: slideUp 0.9s ease-in forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

.animation-delay-2 {
  animation: slideUp 1s ease-in forwards;
  animation-delay: 0.7s;
}

.animation-delay-3 {
  animation: slideUp 1.1s ease-in forwards;
  animation-delay: 0.8s;
}

header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav img {
  width: 200px;
}

.nav {
  display: flex;
  align-items: center;
}

.header__arrow {
  left: 10px;
  position: absolute;
  font-size: 20px;
  color: inherit;
}

.footer {
  background-color: #3f3f3f;
  padding: 20px 20px;
  color: #fff;
}
.footer__title {
  font-family: "shrikhand", cursive;
  font-size: 20px;
  margin-bottom: 15px;
}
.footer__menu {
  list-style: none;
}

.footer li {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 8px;
}
.footer li a {
  text-decoration: none;
  color: #fff;
}
.footer li a:hover {
  color: #9356DC;
}
.footer li i {
  font-size: 14px;
  padding-right: 10px;
}

@media only screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.localisation {
  height: 60px;
  background-color: #E9E9E9;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.4);
}
.localisation__icon {
  font-size: 18px;
  padding-right: 15px;
}
.localisation__input {
  font-size: 18px;
  background-color: #E9E9E9;
  border: none;
  width: 140px;
}
.localisation__input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}
.localisation__input :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}
.localisation__input ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}
.localisation__input:focus-visible {
  outline: none;
}

.form-restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 40px;
  text-align: center;
}
.form-restaurants h2 {
  font-size: 28px;
  margin-bottom: 15px;
}
.form-restaurants__description {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
}

.fonctionnement {
  padding: 50px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fonctionnement h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.fonctionnement-list {
  list-style: none;
  counter-reset: item;
}
.fonctionnement-list a {
  text-decoration: none;
  color: inherit;
}
.fonctionnement-list__step {
  counter-increment: item;
  background-color: #F6F6F6;
  font-size: 16px;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 15px;
  white-space: nowrap;
  box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.21);
}
.fonctionnement-list__step:hover .fonctionnement-list__step__icon {
  color: #9356DC;
}
.fonctionnement-list__step__icon {
  padding-right: 16px;
  color: #7D7D7D;
}
.fonctionnement-list__step__icon:hover {
  color: #9356DC;
}
.fonctionnement-list__step::marker {
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  color: #99E2D0;
}
.fonctionnement-list__step::before {
  padding: 4px;
  margin-right: 15px;
  margin-left: -36px;
  content: counter(item);
  background-color: #9356DC;
  border-radius: 100%;
  color: #fff;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}
.fonctionnement-list__step:hover {
  background-color: rgba(146, 86, 220, 0.1);
}
.fonctionnement-list__step:hoveri {
  color: #9356DC;
}

.restaurants-list {
  background-color: #F6F6F6;
  padding: 50px 20px;
  width: 100%;
}
.restaurants-list a {
  text-decoration: none;
  color: inherit;
}
.restaurants-list h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .localisation {
    width: 100%;
  }

  .form-restaurants {
    background-color: #fff;
    padding-bottom: 40px;
  }

  .fonctionnement {
    background-color: #fff;
    padding: 20px 30px;
  }
  .fonctionnement__title {
    text-align: center;
  }

  .fonctionnement-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fonctionnement-list__step {
    padding: 15px 40px;
    margin: 20px;
    background: #fff;
  }
  .fonctionnement-list__step::before {
    margin-left: -52px;
  }

  .restaurants-list {
    background-color: #fff;
    padding: 20px 30px 50px 30px;
  }
  .restaurants-list h2 {
    text-align: center;
    margin-bottom: 35px;
  }

  .restaurants-list-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.restaurant-menu {
  background-color: #F6F6F6;
  padding-bottom: 60px;
}
.restaurant-menu__img-and-title {
  display: flex;
  flex-direction: column;
}
.restaurant-menu__img-and-title__img {
  height: 210px;
  object-fit: cover;
}
.restaurant-menu__img-and-title__title-and-icon-container {
  background-color: #F6F6F6;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px 20px 0 0;
  margin-top: -30px;
}
.restaurant-menu__img-and-title__title {
  font-family: "shrikhand", cursive;
  font-size: 24px;
}
.restaurant-menu__img-and-title__icon {
  font-size: 24px;
}
.restaurant-menu__list {
  padding: 0 20px 30px 20px;
}
.restaurant-menu__list__course-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}
.restaurant-menu__list__underline {
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  margin: 3px 0 13px 0;
}
.restaurant-menu__btn {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
