// FOOTER
.footer{
    background-color: #3f3f3f;
    padding: 20px 20px;
    color: #fff;

    &__title{
        font-family: 'shrikhand', cursive;
        font-size: 20px;
        margin-bottom: 15px;
        font-weight: normal;
    }

    &__menu{
        list-style: none;

    }
}

.footer li{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 8px;

    a {
        text-decoration: none;
        color: #fff;

        &:hover{
            color: $primary;
        }
    }

    i {
        font-size: 14px;
        padding-right: 10px;
    }

}

@media only screen and (min-width:$tablet-up){
    // For Tablets & Desktops
   
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}