    // BUTTON

    .btn{
        cursor: pointer;
        padding: 15px 30px;
        border: 0;
        border-radius: 50px;
        color: #fff;
        font-size: 16px;
        min-width: 200px;
    
    
        // COLORS
        background: $secondary;
        background: linear-gradient(180deg, $secondary 0%, $primary 85%);
        // BOX-SHADOW
        @include shadow;
    
        &:hover{
            background: $secondary;
            background: linear-gradient(180deg, rgba(255,121,218,0.9) 0%, rgba(147,86,220,0.9) 85%);
    
            @include btn-shadow-hover;
        }
    
    }