.load-spinner{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: $primary;
    z-index: 5;
    animation: fadeOut 3s forwards;
}

.loader {
  display: inline-block;
  position: relative;
  background-color: $primary;
    background-image: linear-gradient(45deg, $primary, $secondary);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  animation: zeroRotation 1.5s ease infinite alternate-reverse;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 356px;
}

.load-icon{
  z-index: 99;
  color: #fff;
}

@keyframes zeroRotation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(0) rotate(500deg);
  }
}
    


  @keyframes fadeOut{
    80%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        visibility: hidden;
    }
  }