.load-spinner{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: $primary;
    z-index: 5;
    animation: fadeOut 3s forwards;
}

.loader {
  width: 248px;
  height: 248px;
  display: inline-block;
  position: relative;
  background: $primary;
  box-sizing: border-box;
  animation: zeroRotation 1.5s ease infinite alternate-reverse;
}

@keyframes zeroRotation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(0) rotate(360deg);
  }
}
    


  @keyframes fadeOut{
    80%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        visibility: hidden;
    }
  }