.restaurant-menu{

    background-color: $lightgrey;
    padding-bottom: 60px;
    
    &__img-and-title{
    display: flex;
    flex-direction: column;

        &__img{
            height: 210px;
            object-fit: cover;
        }

        &__title-and-icon-container{
            background-color: $lightgrey;
            padding: 30px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 20px 20px 0 0;
            margin-top: -30px;
        }

        &__title{
            font-family: 'shrikhand', cursive;
            font-size: 24px;
        }

        &__icon{
            font-size: 24px;
        }
    }

    &__list{
        padding: 0 20px 30px 20px;
        

        &__course-title{
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
        }

        &__underline{
            height: 3px;
            width: 40px;
            background-color: $tertiary;
            margin: 3px 0 13px 0;
        }
    }

    &__btn{
        display: flex;
        justify-content: center;
    }

}

.restaurant-menu-card{
    background-color: #fff;
    height: 70px;
    margin-bottom: 12px;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    @include shadow;

    &:active .restaurant-menu-card__check, &:hover .restaurant-menu-card__check{
        width: 60px;
        transform: translateX(0);
    }
    &:active .restaurant-menu-card__icon,  &:hover .restaurant-menu-card__icon {
        transform: rotate(1turn);
        opacity:1;
    }

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex: 1;
    }

    &__description{
        padding: 10px;
    

        &__title{
            font-size: 14px;
            margin-bottom: 5px;
        }

        &__details{
            font-size: 12px;
        }

        &__price{
            font-size: 12px;
            padding: 10px;
        }

        

    }

    &__check{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $tertiary;
        border-radius: 0 10px 10px 0;

        // animation
        width: 0;
        transition: all 400ms 100ms ease-in-out;
        transform: translateX(100%);

        &__icon{
            color: #fff;

            // animation
            opacity: 0;
            transition: all 400ms 100ms ease-in-out;
        }
        
    }
}

@keyframes check-fadeIn {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
    }
}