.restaurant-menu-card{
    opacity: 0;
    overflow: hidden;
    cursor: pointer;

    background-color: #fff;
    height: 65px;
    margin-bottom: 12px;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    @include shadow;

    &:hover{
        @include shadow(0.3);
    }


    &:active .restaurant-menu-card__check, &:hover .restaurant-menu-card__check{
        width: 60px;
        transform: translateX(0);
    }

    &:active .restaurant-menu-card__check__icon,  &:hover .restaurant-menu-card__check__icon {
        transform: rotate(1turn);
        opacity:1;
        transition: all 400ms 100ms ease-in;
    }
    

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex: 1;
        overflow: hidden;
    }

    &__description{
        padding: 10px;
        overflow: hidden;
    

        &__title{
            font-size: 16px;
            margin-bottom: 5px;
            @include text-overflow;
        }

        &__details{
            font-size: 14px;
            @include text-overflow;
        }

        &__price{
            font-size: 14px;
            font-weight: 500;
            padding: 10px;
        }

        

    }

    &__check{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $tertiary;
        border-radius: 0 10px 10px 0;
        cursor: pointer;

        // animation
        width: 0;
        transition: all 400ms 100ms ease-in-out;

        &__icon{
            color: #fff;
            
        }
        
    }
}

// restaurant individual menu cards entrance animation

@keyframes slideUp {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
    }
}

.animation-delay-1{
    animation: slideUp .9s ease-in forwards;
    animation-delay: .6s;
    opacity: 0;
}

.animation-delay-2{
    animation: slideUp 1s ease-in forwards;
    animation-delay: .7s;
}

.animation-delay-3{
    animation: slideUp 1.1s ease-in forwards;
    animation-delay: .8s;
}

.animation-delay-4{
    animation: slideUp 1.2s ease-in forwards;
    animation-delay: .9s;
}



@media only screen and (min-width:$desktop-up){    
    
    .restaurant-menu-card{
        width: 320px;

        &__description{
    
            &__title{
                font-size: 15px;
            }
    
            &__details{
                font-size: 13px;
            }

        }
    }
 
 }