// LOCALISATION

.localisation{
    height: 60px;
    background-color: $darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.4);

    &__icon{
        font-size: 18px;
        padding-right: 15px;
    }

    &__input{
        font-size: 18px;
        background-color: $darkgrey;
        border: none;
        width: 140px; // set width of text input field because it is not adapting to text. If no width then it is not centered on the page

        &::placeholder{
            /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #000;
                opacity: 1; /* Firefox */
              }  
              :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: #000;
              }  
              ::-ms-input-placeholder { /* Microsoft Edge */
                color: #000;

              }

        &:focus-visible{
            outline: none;
        }
        
    }
}

// EXPLORE RESTAURANTS

.form-restaurants{
    
    background-color: $lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 40px;
    text-align: center;

    h2{
        font-size: 28px;
        margin-bottom: 15px;
    }

    &__description{
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 30px;
    }
}

// FONCTIONNEMENT

.fonctionnement{
    padding: 50px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    h2{
    font-size: 28px;
    margin-bottom: 15px;
    }
}

.fonctionnement-list{
    list-style: none;
    counter-reset: item;

    a{
        text-decoration: none;
        color: inherit;
    }

    &__step{
        counter-increment: item;

        background-color: $lightgrey;
        font-size: 16px;
        padding: 25px;
        margin-bottom: 20px;
        border-radius: 15px;
        white-space: nowrap;
        cursor: pointer;

        // BOX-SHADOW
        @include shadow;

        &:hover .fonctionnement-list__step__icon{
            color: $primary;
        }

    

    &__icon{
        padding-right: 16px;
        color: #7D7D7D;

        &:hover{
            color: $primary; // Use IF mixin to create rule if hover over li then icon is primary ?
        }
    }

    &::marker{
        background-color: $primary;
        width: 20px;
        height: 20px;
        color: #99E2D0;
    }

    &::before{
        padding: 4px;
        margin-right: 15px;
        margin-left: -36px;
        content: counter(item);
        background-color: $primary;
        border-radius: 100%;
        color: #fff;
        width: 1.2em;
        text-align: center;
        display: inline-block;

    }

    &:hover{
        background-color: $lightprimary;

        .fonctionnement-list__step__icon{
            color: $primary;
        }
    }
    }
    }

    // RESTAURANTS LIST
    .restaurants-list{
        background-color: $lightgrey;
        padding: 50px 20px;
        width: 100%;
    
        a{
            text-decoration: none;
            color: inherit;
        }
    
        h2{
            font-size: 28px;
            margin-bottom: 20px;
            }
    }


    @media only screen and (min-width:768px){
        // For Tablets & Desktops
       
        
        .localisation{
            width: 100%;
        }

        .form-restaurants{
            background-color: $white;
            padding-bottom: 40px;
        }
        

        .fonctionnement{
            background-color: #fff;
            padding: 20px 30px;

            &__title{
                text-align: center;
            }

        }

        .fonctionnement-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &__step{
                padding: 15px 40px;
                margin: 20px;
                background: #fff;

                &::before{
                    margin-left: -52px;
                }
            }
            
        }

        .restaurants-list{
            background-color: $white;
            padding: 20px 30px 50px 30px;
    
            h2{
                text-align: center;
                margin-bottom: 35px;
            }
        }
    
        .restaurants-list-container{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    
    
    }

    