// Shadows
@mixin shadow($opacity:0.2){
    box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, $opacity);
}


// Text overflow
@mixin text-overflow {
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}