// Colors
$primary: #9356DC;
$lightprimary: rgba(146, 86, 220, 0.1);
$secondary: #FF79DA;
$tertiary: #99E2D0;
$lightgrey: #F6F6F6;
$darkgrey: #E9E9E9;
$white: #fff;

// Shadows
@mixin shadow {
    box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.21);
    -webkit-box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.21);
}

@mixin btn-shadow-hover {
    box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.3);
}
