// Colors
$primary: #9356DC;
$lightprimary: rgba(146, 86, 220, 0.1);
$secondary: #FF79DA;
$tertiary: #99E2D0;
$lightgrey: #F6F6F6;
$darkgrey: #E9E9E9;
$white: #fff;

// Media query breakpoints
$tablet-up: 768px;
$desktop-up: 1025px;